---
http_interactions:
- request:
    method: get
    uri: https://api.upcitemdb.com/prod/trial/lookup?upc=888641131105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Reset:
      - '1563563268'
      X-Ratelimit-Remaining:
      - '41'
      Etag:
      - W/"e1f-HXnD+7uF5WMSFN3PHkyaMw"
    body:
      encoding: ASCII-8BIT
      string: '{"code":"OK","total":1,"offset":0,"items":[{"ean":"0888641131105","title":"Zignature
        Turkey Dry Dog Food, 27-Pound Multi-Colored","description":"Zignature Limited
        Ingredient Grain-Free Turkey Formula Dry Dog Food, 27 lb","upc":"888641131105","brand":"Zignature","model":"31105","color":"","size":"27
        lb Bag","dimension":"24 X 16 X 4 inches","weight":"27 Pounds","currency":"","lowest_recorded_price":40.49,"highest_recorded_price":86.83,"images":["https://i5.walmartimages.com/asr/f6b3cd69-2654-4902-8569-b3d0a7ca3717_1.c2e486f75e5522cb2d04bf67f4fc22e9.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff","https://tshop.r10s.com/8d9/a9a/d0d6/b637/d0d9/d487/b8ea/11e5e7b0f954ab3a295b6a.JPG?_ex=512x512","http://site.unbeatablesale.com/AGMD5127.JPG","http://images.prosperentcdn.com/images/250x250/s7d5.scene7.com/is/image/PetsUnited/T499139","http://images.prosperentcdn.com/images/250x250/s7d5.scene7.com/is/image/PetsUnited/T499139","http://207.86.186.76/1000x1000/55/55-ZG03-27.jpg","http://images.prosperentcdn.com/images/250x250/s7d5.scene7.com/is/image/PetsUnited/T499139"],"offers":[{"merchant":"Dog.com","domain":"dog.com","title":"Zignature
        Grain Free Turkey Dry Dog Food 27lb","currency":"","list_price":"","price":54.99,"shipping":"","condition":"New","availability":"","link":"http://www.upcitemdb.com/norob/alink/?id=x2o203z23323d4&tid=1&seq=1563480553&plt=f9b5e6cb4628067c999fbb13c5e07966","updated_t":1494827947},{"merchant":"Cherrybrook","domain":"cherrybrook.com","title":"Zignature
        Turkey 27lbs","currency":"","list_price":"","price":54.99,"shipping":"","condition":"New","availability":"","link":"http://www.upcitemdb.com/norob/alink/?id=u2p2y223x2z2a494x2&tid=1&seq=1563480553&plt=75524666f983f31a5d484deff0277fb4","updated_t":1563448873},{"merchant":"Petfood.com","domain":"petfood.com","title":"Zignature
        Grain Free Turkey Dry Dog Food 27lb","currency":"","list_price":"","price[...]
[...]
